.itemContainer{
    display: flex;
    width: 100%;
    margin: 10px 0;
    background-color: var(--white);
    height: 150px;
    border-radius: 10px;
    /* border: 1px solid var(--blue); */
    padding: 10px;
}
.itemContainer img{
    height: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
}

.header{
    display: flex;
}
.title{
    font-weight: bold;
    color: var(--orange);
    margin: auto;
    margin-left: 0;
    font-size: 20px;
}

.price{
    color: #555;
    font-size: 15px;
    font-weight: normal;
}

.content{
    display: flex;
    margin-top: 20px;
}

.description{
    width: 40%;
    text-align: justify;
    padding-right: 20px;
}

.content input{
    height: 20px;
    margin: auto;
    margin-right: 10px;
    margin-bottom: 0;
}

.totalCost{
    color: var(--blue);
    font-weight: bold;
    height: 20px;
    margin-top: auto;
}
