.productCard{
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    background-color: var(--white);
    width: 40%;
    height: 60%;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.productImage{
    height: 100%;
    width: 45%;
}

.detailContainer{
    display: flex;
    flex-direction: column;
    width: 47%;
    padding: 5px;
    margin: auto;
    height: 100%;
}

.title{
    margin: 10px auto;
    font-weight: bold;
    color: var(--orange);
    font-size: 25px;
    height: 15%;
}

.description{
    color: #555;
    text-align: justify;
    height: 30%;
}

.price{
    font-weight: bold;
    font-size: 20px;
    height: 15%;
}

.subText{
    color: #555;
    font-size: 10px;
    font-weight: normal;
}


.heartStyle{
    color: #999;
    font-size: 20px;
    margin: auto;
    transition: 0.5s;
}

.addons{
    display: flex;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    height: 20%;
    padding-left: 0;
}

.heart{
    width: 10%;
    display: flex;
    margin: auto;
    margin-right: 0px;
}

.addToCart{
    width: 75%;
    display: flex;
}

.addToCart input{
    width: 33%;
   margin: auto ;
   margin-left: 0;
} 

.addToCart button{
    width: 60%;
   margin: auto;
} 

.heartStyle:hover{
    color: var(--orange);
}