.nav{
    background-color: var(--blue);
    padding: 25px 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    color: var(--white);
    z-index: 100;
}

.brandName{
    font-size: 35px;
    margin: auto;
    margin-left: 0;

}

.navLinks{
    margin: auto;
    margin-right: 0;
    display: flex;
    font-size: 15px;
}
.navLink{
    margin: auto 10px;
}

.navLink:hover{
    /* border-bottom: 2px solid var(--orange); */
    color: #888;
}

a{
    color: var(--white);
    text-decoration: none;
}


.activeLink{
    color: var(--orange);
}

.activeLink:hover{
    color: var(--orange);
}
.icon{
    font-size: 20px;
    margin: auto;
}

.signOut{
    border-radius: 5px;
    background-color: var(--orange) ;
    padding: 5px 10px;
    margin: 0 10px;
    font-weight: bold;
    color: var(--blue);
}